[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
langchain-text-splitters = "*"
langchain-ollama = "*"
langchain-core = "*"
faiss-cpu = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
